/0mk
/.0mk/
/out/
/build/
/build-*/
/cmake-build-*/
/dist/
/package/
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Testing/
/_CPack_Packages/
/build.ninja
/compile_commands.json
/cmake_install.cmake
/install_manifest.txt
/Makefile
/.ninja_deps
/.ninja_log
/rules.ninja
/0mk-*.tar.gz
